
##############################
## Джава
##############################
.mtj.tmp /
*.учебный класс
* .jar
* .war
* .ear
* .nar
hs_err_pid *

##############################
## Maven
##############################
мишень /
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
pom.xml.bak
release.properties
Зависимость восстановленной-pom.xml
buildNumber.properties
.mvn / timing.properties
.mvn / обертку / Maven-wrapper.jar

##############################
## Gradle
##############################
бен /
сборки /
.gradle
.gradletasknamecache
Gradle-app.setting
! Gradle-wrapper.jar

##############################
## IntelliJ
##############################
вне/
.idea /
.idea_modules /
* .iml
* .ipr
* .iws

##############################
## Затмение
##############################
.settings /
бен /
TMP /
.metadata
.classpath
.project
* .tmp
* .bak
* .swp
* ~ .Nib
local.properties
.loadpath
.factorypath

##############################
## NetBeans
##############################
nbproject / частный /
сборки /
nbbuild /
расстояние /
nbdist /
nbactions.xml
NB-configuration.xml

##############################
## Код Visual Studio
##############################
.vscode /

##############################
## OS X
##############################
.DS_Store